<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sz.mapper.MenuMapper">

    <insert id="insertMenu" parameterType="com.sz.pojo.Menu">
        INSERT INTO menu(menuName, image, price, statue)
        VALUES(#{menuName}, #{image}, #{price}, #{statue})
    </insert>

    <delete id="deleteMenuById">
        DELETE FROM menu
        <where>
            menuId = #{menuId}
        </where>
    </delete>
    <select id="selectMenuById" resultType="com.sz.pojo.Menu">
        SELECT * FROM menu
        <where>
            menuId = #{menuId}
        </where>
    </select>

    <update id="updataMenu" parameterType="com.sz.pojo.Menu">
        UPDATE menu
        <set>
            menuName=#{menuName},
            image=#{image},
            price=#{price},
            statue=#{statue}
        </set>
            WHERE menuId=#{menuId}
    </update>

    <select id="selectMenuPages" resultType="com.sz.pojo.Menu">
        SELECT * FROM menu LIMIT #{startLine}, #{pageCount}
    </select>
    <select id="selectMenuAll" resultType="int">
        SELECT count(*) FROM menu
    </select>

    <select id="selectMenuByName" resultType="com.sz.pojo.Menu">
        SELECT * FROM menu
        <where>
            menuName LIKE #{menuName} LIMIT #{startLine}, #{pageCount}
        </where>
    </select>

    <select id="selectAllMenuByName" resultType="int">
        SELECT COUNT(*) FROM menu
        <where>
            menuName LIKE #{menuName}
        </where>
    </select>

<!--    微信小程序需要的功能-->
    <select id="selectAllMenuByStatue" resultType="com.sz.pojo.Menu">
        SELECT * FROM menu
            WHERE statue = 1
    </select>

</mapper>